@import '@/scss/vars.scss';
@import '@/scss/mixins.scss';

.section {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  &__container {
    @include container;
  }
  &__tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding-top: 30px;
    @include adaptive(725px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &_header {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // flex-wrap: wrap;
    }
    &_btns {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 45px;
    }
    &_btn {
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;

      color: $text-color;
      font-family: $font-monterrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: color 200ms;
      &:hover {
        color: $accent-color;
      }
      &.active {
        color: $accent-color;
        text-decoration: underline;
      }
    }
    &_switcherWrapper {
      display: flex;
      align-items: center;
      gap: 45px;
      flex-wrap: nowrap;
    }
    &_checkbox {
      position: relative;
      display: inline-block;
      width: 63px;
      height: 31px;
      padding: 5px;
      // @include adaptive(721px){
      //   width: 83px;
      // }
      border-radius: 15px;
      box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
      background-color: $accent-color;
      transition: transform 0.3s ease;
      input {
        height: 0;
        width: 0;
        opacity: 0;
      }
      input:checked + &_circle {
        transform: translateX(34px);
      }
    }
    &_switch {
      position: absolute;
      cursor: pointer;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &_circle {
      position: absolute;
      cursor: pointer;
      left: 4px;
      bottom: 6px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white; //ВРМ
      transition: 0.3s ease;
    }
  }
  &__switcherText {
    font-family: $font-incosolata;
    font-size: 16px;
    font-weight: 400;
    color: rgba($text-color, 0.6);
    transition: color 200ms;
    word-break: none;
    white-space: nowrap;

    &.active {
      color: $text-color;
    }
  }
  &__tabs_item {
    padding: 0;
    margin: 0;
    width: 345px;
    display: grid;
    grid-column: 3 span;
    @include adaptive(1403px) {
      grid-column: 4 span;
    }
    @include adaptive(1051px) {
      grid-column: 6 span;
    }
    @include adaptive(725px) {
      grid-column: 12 span;
    }
  }
}
.article {
  padding: 0;
  margin: 0;

  padding: 30px 20px;
  background-color: $background-card;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 345px;
  &__title {
    padding: 0;
    margin: 0;
    font-size: $font-monterrat;
    font-size: 32px;
    font-weight: 600;
    color: $accent-color;
    margin-bottom: 7px;
  }
  &__subtitle {
    padding: 0;
    margin: 0;
    font-family: $font-incosolata;
    font-size: 16px;
    font-weight: 600;
  }
  &__priceList {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  &__oldPrice {
    padding: 0;
    margin: 0;
    font-family: $font-monterrat;
    font-size: 13px;
    font-weight: 600;
    text-decoration: line-through;
    display: flex;
    align-items: center;
  }

  &__price {
    padding: 0;
    margin: 0;
    font-family: $font-monterrat;
    font-size: 32px;
    font-weight: 700;
    &_span {
      margin: 0;
      padding: 0;
      font-family: $font-incosolata;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 297px;
    margin-bottom: 100px;
  }
  &__item {
    font-size: 16px;
    font-family: $font-incosolata;
    font-weight: 400;
  }
  &__button {
    @include button($white-color, $accent-color);
    padding: 10px 25px;
  }
}
