@import '@/scss/vars.scss';
@import '@/scss/mixins.scss';
.domen_section {
  background-color: $accent-color;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  &__container {
    @include container;
  }
  &__title {
    @include title;
    color: $white-color;
    position: relative;
    z-index: 6;
  }
  &::before {
    content: '';
    background-image: url(/papapa.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    transform: rotate(5deg);
    width: 280px;
    height: 400px;

    position: absolute;
    top: -50%;
    left: 0%;
    z-index: 0;
    
  }
  &::after {
    content: '';
    background-image: url(/papapa.png);
    background-repeat: no-repeat;
    background-position: left;
    transform: rotate(-10deg);
    width: 350px;
    height: 250px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  &__list {
    padding: 0;
    left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-incosolata;
    font-size: 16px;
    font-weight: 600;
    color: $white-color;
  }
  &__oldprice {
    font-family: $font-incosolata;
    font-size: 16px;
    font-weight: 600;
    color: rgba($white-color, 0.2);
    text-decoration: line-through;
  }
  &__domens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-right: 50px;
  }
  &__more {
    font-family: $font-incosolata;
    font-size: 16px;
    font-weight: 600;
    color: rgba($white-color, 0.5);
  }
}
.domen_form {
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 5px 5px 30px;
  border: 2px solid $accent-secondary-color;
  border-radius: 15px;
  &__button {
    @include button($accent-color, $white-color);
  }
  &__input {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $white-color;
    &::placeholder {
      color: $accent-secondary-color;
    }
    font-size: 14px;
    font-family: $font-incosolata;
    font-weight: 600;
  }
}
