@import '@/scss/vars.scss';
// @import '@/scss/mixins/container.scss';
@import '@/scss/mixins.scss';

.service_section {
  padding-top: 150px;
  &__container {
    @include container;
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      'host vds vds'
      'host servers construct';
  }
  &__host {
    grid-area: host;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 30px 30px 30px;
    background-color: $accent-color;
    // max-width: 470px;
    // width: 100%;
    border-radius: 20px;
    height: 737px;
    box-shadow: $shadow;
    &__textWrapper {
      max-width: 367px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;
    }
    &_title {
      @include title;
      color: $white-color;
    }
    &_descr {
      @include descr-reqular;
      color: $white-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($accent-color, $white-color);
    }
    &_price {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $white-color;
    }
  }
  &__vds {
    grid-area: vds;
    background-color: $background-secondary;
    box-shadow: $shadow;
    border-radius: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // max-width: 950px;
    // width: 100%;
    max-height: 358px;
    height: 100%;

    padding: 20px;
    &_content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      max-width: 450px;
    }
    &_title {
      @include title;
      color: $text-color;
    }
    &_descr {
      @include descr-reqular;
      color: $text-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($white-color, $accent-color);
    }
    &_price {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $text-color;
    }
  }
  &__servers {
    grid-area: servers;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: $background-secondary;
    box-shadow: $shadow;
    &_title {
      @include title;
      color: $text-color;
    }
    &_descr {
      @include descr-reqular;
      color: $text-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($white-color, $accent-color);
    }
    &_price {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $text-color;
    }
  }
  &__construct {
    grid-area: construct;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: $background-secondary;
    box-shadow: $shadow;
    &_title {
      @include title;
      color: $text-color;
    }
    &_descr {
      @include descr-reqular;
      color: $text-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($white-color, $accent-color);
    }
    &_date {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $black-color;
    }
  }
}
