@import '@/scss/vars.scss';
// @import '@/scss/mixins/container.scss';
@import '@/scss/mixins.scss';

.section {
  padding-top: 150px;
  padding-bottom: 150px;
  &__container {
    @include container;
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      'host vds vds'
      'host servers construct';

    @include adaptive(1185px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'host servers'
        'host construct'
        'vds vds';
    }
    @include adaptive(785px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'host'
        'servers'
        'vds'
        'vds'
        'construct';
    }
  }
  &__host {
    background-image: url(../../../public/cart-main.png);
    background-size: cover;
    grid-area: host;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 30px 30px 30px;
    background-color: $accent-color;
    // max-width: 470px;
    // width: 100%;
    border-radius: 20px;
    height: 737px;
    box-shadow: $shadow;

    &__textWrapper {
      max-width: 367px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;
    }
    &_title {
      @include subtitle;
      color: $white-color;
    }
    &_descr {
      @include descr-reqular;
      color: $white-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button-white($accent-color, $white-color);
    }
    &_price {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $white-color;
    }
  }
  &__vds {
    background-image: url(../../../public/cart-2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    grid-area: vds;
    background-color: $background-secondary;
    box-shadow: $shadow;
    border-radius: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    // max-width: 950px;
    // width: 100%;
    max-height: 358px;
    height: 100%;
    @include adaptive(785px) {
      flex-direction: column;
      background-position: bottom bottom;
      height: auto;
    }
    @include adaptive(427px){
      background-image: none;
    }


    padding: 20px;
    &_content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      max-width: 450px;
    }
    &_title {
      margin: 0;
      padding: 0;
      @include subtitle;
      color: $text-color;
    }
    &_descr {
      @include descr-reqular;
      color: $text-color;
      max-width: 352px;
      margin-bottom: 40px;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($white-color, $accent-color);
    }
    &_price {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $text-color;
    }
  }
  &__servers {
    grid-area: servers;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: $background-secondary;
    box-shadow: $shadow;
    &_block {
      display: flex;
    }
    &_title {
      margin: 0;
      @include subtitle;
      color: $text-color;
    }
    &_descr {
      @include descr-reqular;
      color: $text-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($white-color, $accent-color);
    }
    &_price {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $text-color;
    }
  }
  &__construct {
    grid-area: construct;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: $background-secondary;
    box-shadow: $shadow;
    &_title {
      @include subtitle;
      color: $text-color;
    }
    &_descr {
      @include descr-reqular;
      color: $text-color;
    }
    &_btnWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_btn {
      @include button($white-color, $accent-color);
    }
    &_date {
      font-size: 14px;
      font-family: $font-incosolata;
      font-weight: 600;
      color: $black-color;
    }
  }
}
