@import '@/scss/vars.scss';
@import '@/scss/mixins/container.scss';

.error  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.txt  {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}