@import '@/scss/vars.scss';
@import '@/scss/mixins.scss';
.section{
    padding-top: 100px;
    &__container
    {
        @include container
    }
    &__inner{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        @include adaptive(720px){
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

    }
    
}
.article{
    background-color: $background-card;
    box-shadow: $shadow;
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__textWrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title{
        padding: 0;
        margin: 0;
        font-family: $font-monterrat;
        font-size: 32px;
        font-weight: 600;
        color: $accent-color;
        margin-bottom: 10px;
        width: 270px;
    }
    &__price{
        padding: 0;
        margin: 0;
        font-family: $font-monterrat;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 65px;
        span{
            font-family: $font-incosolata;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        // align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
        width: 100%;
    }
    &__item{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_name{
            margin: 0;
            padding: 0;
            font-family: $font-incosolata;
            font-size: 16px;
            font-weight: 600;
            color: rgba($text-color, 0.6);
        }
        &_service{
            margin: 0;
            padding: 0;
            font-family: $font-incosolata;
            font-size: 16px;
            font-weight: 600;
        }

    }
    &__btn{
        @include button($white-color, $accent-color);
    }
}